<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133880339-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-133880339-1');
      </script>
        <meta charset="UTF-8" />
        <meta name='keywords' content='africa, partnership, platform, social, tenders, ghana, business linkage, business growth, investment in ghana'>
        <meta name='description' content="The African Partner Pool brings businesses together. It connects companies across sectors in Ghana with the local business partners they need to get the job done.">
        <meta name='author' content='Invest in Africa'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Fonts Online -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Style Sheet -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/owl.carousel.css?ver='~random(5)) }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main-style.css?ver='~random(5)) }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css?ver='~random(5)) }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/custom.css?ver='~random(5)) }}">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
      <div id="main-wrapper">
        {% include 'header.html.twig' %}
        <div class="container">
            {{ render(controller('AppBundle:Portal:buyerDashboardMenu')) }}
          <div class="page-header">
            <h1 class="title">{% block pagetitle %}{% endblock %}<span>{% block crumbtitle %}{% endblock %}</span></h1>
          </div>
        </div>
        <section class="profile-company-content main-user pt60">
        {% block body %}{% endblock %}
        </section>
      </div>
      {% include 'footer.html.twig' %}
      {% block javascripts %}{% endblock %}
    </body>
</html>
