{% extends 'base-buyer-portal.html.twig' %}

{% block pagetitle %}{{ buyer.name }} APP: Information{% endblock %}
{% block crumbtitle %}In this section, you can edit your company's information on the APP {% endblock %}
{% block body %}
<div class="main-panel">
  <div class="content">
    <div class="container">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <h4 class="card-title">Update Information</h4>
          </div>
          <div class="card-content">
            <form class="mdl-grid" name="new-request" action="{{ path('buyer-update-information',{'slug': buyer.slug}) }}"  enctype="multipart/form-data" method="POST">
              <div class="form-group">
                <label>Name</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ buyer.name }}">
              </div>
              <div class="form-group">
                <label>Type of Company</label>
                <select name="companyType" id="companyType" required  class="selectpicker" data-style="btn btn-danger btn-block" data-size="7" >
                  <option value="" disabled>Select One</option>
                  {% for type in company_types %}
                    <option value="{{ type.id }}" {% if type.id == buyer.companyType %} checked {% endif %}>{{ type.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows= "8" id="description" name="description">{{ buyer.description }}</textarea>
              </div>
              <div class="form-group">
                <label>Number Of Branches*</label>
                <input type="text" id="numberOfBranches" name="numberOfBranches" class="form-control" value="{{ buyer.numberOfBranches }}">
              </div>
              <div class="form-group">
                <label>Contact Person*</label>
                <input type="text" id="contactPerson" name="contactPerson" class="form-control" value="{{ buyer.contactPerson }}">
              </div>
              <div class="form-group">
                <label>Designation*</label>
                <input type="text" id="designation" name="designation" class="form-control" value="{{ buyer.designation }}">
              </div>
              <div class="form-group">
                <label>Office Phone*</label>
                <input type="text" id="officePhone" name="officePhone" class="form-control" value="{{ buyer.officePhone }}">
              </div>
              <div class="form-group">
                <label>Official Email Address*</label>
                <input type="email" id="officialEmailAddress" name="officialEmailAddress" class="form-control" value="{{ buyer.officialEmailAddress }}">
              </div>
              <div class="form-group">
                <div class="col-lg-12"><label>Gender*</label></div>
                <div class="col-lg-12">
                  <label class="radio-inline">
                    <input type="radio" name="gender" id="inlineRadio1" value="Male"> Male
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="gender" id="inlineRadio2" value="Female"> Female
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" rows= "4" id="address" name="address" required>{{ buyer.address }}</textarea>
              </div>
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" id="city" name="city" required value="{{ buyer.city }}" />
              </div>
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" id="country" name="country" required value="{{ buyer.country }}" />
              </div>
              <div class="row">
                <div class="col-lg-12">
                    <h5>Sectors</h5>
                    {% for sector in sectors %}
                    <div class="checkbox col-md-4 col-xs-12 col-sm-6">
                     <input id="sector-{{sector.id}}" type="checkbox" name="sectors[]" value="{{sector.name}}" {% for category in buyer.sectors if category.id == child.id %} sector {% endfor %}>
                     <label for="sector-{{sector.id}}">
                        {{sector.name}}
                      </label>
                     </div>
                    {% endfor %}
                  </div>
               </div>
               <br/>
               <div class="row">
                <div class="col-lg-12">
                  <input type="hidden" value="{{ buyer.id }}" name="buyer"/>
                   <button type="submit" class="btn btn-wd btn-fill btn-info">
                      <span class="btn-label">
                        <i class="fa fa-check"></i>
                        </span>
                        Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/app/js/moment.min.js') }}"></script>
  <script src="{{ asset('bundles/app/js/bootstrap-datetimepicker.js') }}"></script>
  <script src="{{ asset('bundles/app/js/bootstrap-selectpicker.js') }}"></script>
  <script type="text/javascript">
    var CKEDITOR_BASEPATH = "/bundles/ivoryckeditor/";
  </script>
  <script type="text/javascript" src="{{ asset('/bundles/ivoryckeditor/ckeditor.js') }}"></script>
  <script>
    var cnt = 0;
    $(".upload").on('change',function() {
      $(this).parent().next().val(this.value.replace(/C:\\fakepath\\/i, ''));
    });

    if (CKEDITOR.instances["description"]) { CKEDITOR.instances["supplier_remarks"].destroy(true); delete CKEDITOR.instances["description"]; }
    CKEDITOR.replace("description", {"toolbar":[["Cut","Copy","Paste","PasteText","PasteFromWord","-","Undo","Redo"],["Scayt"],["Link","Unlink","Anchor"],["Image","Table","HorizontalRule","SpecialChar"],["Maximize"],["Source"],"\/",["Bold","Italic","Strike","-","RemoveFormat"],["NumberedList","BulletedList","-","Outdent","Indent","-","Blockquote"],["Styles","Format","About"]],"uiColor":"#ffffff","language":"en"});

    if (CKEDITOR.instances["summary"]) { CKEDITOR.instances["supplier_remarks"].destroy(true); delete CKEDITOR.instances["summary"]; }
    CKEDITOR.replace("summary", {"toolbar":[["Cut","Copy","Paste","PasteText","PasteFromWord","-","Undo","Redo"],["Scayt"],["Link","Unlink","Anchor"],["Image","Table","HorizontalRule","SpecialChar"],["Maximize"],["Source"],"\/",["Bold","Italic","Strike","-","RemoveFormat"],["NumberedList","BulletedList","-","Outdent","Indent","-","Blockquote"],["Styles","Format","About"]],"uiColor":"#ffffff","language":"en"});


    jQuery('.datetimepicker').datetimepicker(
    {
      format: 'DD/MM/YYYY HH:mm',
      icons: {
            time: 'fas fa-clock',
            date: 'fas fa-calendar-alt',
            up: 'fas fa-angle-up',
            down: 'fas fa-angle-down',
            previous: 'fas fa-angle-left',
            next: 'fas fa-angle-right',
            today: 'far fa-calendar-check',
            clear: 'far fa-calendar-times',
            close: 'far fa-window-close'
        }
    }
    );
    $('#add-upload').on('click',function(e)
    {
      cnt++;
      e.preventDefault();
      var html='<div class="row doc-row" id="row'+cnt+'">'+
        '<div class="col-lg-6">'+
        '  <div class="form-group">'+
        '    <label>Document name or title</label>'+
        '    <input type="text" name="docs[filename][]" class="form-control">'+
        '  </div>'+
        '</div>'+
        '<div class="col-lg-4">'+
        '  <div class="form-group">'+
      '      <label>Attach file</label>'+
      '       <input type="file" id="FileAttachment" class="upload" name="docs[FileAttachment][]">'+
      '       <input type="text" class="fileuploadurl" readonly placeholder="Maximum file size is 32MB" name="docs[fileuploadurl][]">'+
      '    </div>'+
      '</div>'+
      '<div class="col-lg-2">'+
      '  <button class="btn btn-xs btn-fill delete" data-id="'+cnt+'" id="delete-'+cnt+'"><i class="far fa-trash-alt"></i></button>'+
      '</div>'+
      '</div>';
      $('#docs').append(html);
      componentHandler.upgradeDom();
    });
    $(document).on('click','.delete',function(e)
    {
      e.preventDefault();
      $('#row'+$(this).data('id')).remove();
    });
  </script>
{% endblock %}
