<div class="container pt60">
  <div class="content">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">
          <a class="block block-rounded text-center" href="{{ path('supplier-dashboard-requests') }}">
              <div class="block-content">
                  <p class="mt-5 mb-10">
                      <i class="fas fa-inbox text-gray fa-3x"></i>
                  </p>
                  <p class="font-w600 font-size-sm text-uppercase">Requests</p>
              </div>
          </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
          <a class="block block-rounded text-center" href="{{ path('my-companies') }}">
              <div class="block-content">
                  <p class="mt-5 mb-10">
                    <i class="fas fa-briefcase text-gray fa-3x"></i>
                  </p>
                  <p class="font-w600 font-size-sm text-uppercase">My Companies</p>
              </div>
          </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
          <a class="block block-rounded text-center" href="{{ path('team-members') }}">
              <div class="block-content">
                  <p class="mt-5 mb-10">
                    <i class="fas fa-users text-gray fa-3x"></i>
                  </p>
                  <p class="font-w600 font-size-sm text-uppercase">Colleagues</p>
              </div>
          </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
          <a class="block block-rounded text-center" href="{{ path('register-company') }}">
              <div class="block-content">
                  <p class="mt-5 mb-10">
                    <i class="far fa-plus-square text-gray fa-3x"></i>
                  </p>
                  <p class="font-w600 font-size-sm text-uppercase">Add Company</p>
              </div>
          </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
          <a class="block block-rounded text-center" href="{{ path('add-to-supplier-team') }}">
              <div class="block-content">
                  <p class="mt-5 mb-10">
                    <i class="far fa-plus-square text-gray fa-3x"></i>
                  </p>
                  <p class="font-w600 font-size-sm text-uppercase">Add Colleague</p>
              </div>
          </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
          <a class="block block-rounded text-center" href="https://iia.hivebrite.com/topics/13163/feed">
              <div class="block-content">
                  <p class="mt-5 mb-10">
                    <i class="fas fa-user-friends text-gray fa-3x"></i>
                  </p>
                  <p class="font-w600 font-size-sm text-uppercase">Community</p>
              </div>
          </a>
      </div>
    </div>
  </div>
</div>
